body {
    height: 3000px;
    background: linear-gradient(to bottom, #ffffff 0%, #888 51%, #0a0a0a 85%);
    font-family: "DM Serif Display", serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    backdrop-filter: blur(14px);
    background: rgba(10, 10, 10, 0.6);
    justify-content: space-between;
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.3);
<<<<<<< HEAD
    height: 20px;
}

.left_nav {
    display: flex;
    gap: 20px;
    align-items: center;
=======
    margin-bottom: 50px;
>>>>>>> 2e28989b9a2707c460304af32ed143113405b002
}

a {
    text-decoration: none;
}

nav a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s ease;
<<<<<<< HEAD
    padding: 10px 16px; 
    height: 100%;
}
=======
}
>>>>>>> 2e28989b9a2707c460304af32ed143113405b002
